@import './node_modules/diagram-js/assets/diagram-js.css';
@import './node_modules/bpmn-font/dist/css/bpmn.css';

.djs-container {
  /* Bugfix diagram-js: color definition for snap lines */
  --color-blue-205-100-50-opacity-30: hsl(205, 100%, 50%, 30%);
}

/* Style for svg icons in the palette */
.djs-palette-entries .entry {
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer !important;
}

/* Style for svg icons in the context-pad */
.djs-context-pad .entry {
  background-size: cover !important;
  cursor: pointer !important;
}
